.Chart{
    background: white;
    height: 45vh;
    margin: 20px;
    border-radius: 0.5rem;
    box-shadow: 30px 5px 80px 10px rgba(0, 0, 0, 0.08);
}

.subchart {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .subchart > span {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
  }
  .subchart > img {
    width: 30px;
    height: 30px;
  }


.piechart{
   width: 70%;
   margin-left: 30px; 
}

.piechart>div>img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.piechart>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.piechartDetails{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.piechartColor{
    content: "" !important;
    width: 8px;
    height: 8px;
    border-radius: 2rem;
}
.chartall{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns:50% 50%;
}
.ChartDetails{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.bottondiv>span{
    font-size: 18px;
    font-weight: bold;
}
.bottondiv>h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottondiv>div>span:nth-child(1){
    font-size: 18px;
    margin: 10px;
    display: flex;
    font-weight: bold;
}
.bottondiv>div{
margin: 10px;
}
.clock__bar,
.clock__percentage {
    height: 5px;
    border-radius: 0.25rem;
}

.clock__bar {
    background-color: rgb(189, 189, 189);
}

.clock__percentage {
    display: block;
    background-color: rgb(72, 105, 255);
}

.clock__xd {
    width: 60%;
}

.clockTime{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: gray;
    font-weight: bold;
}

.wfnumber{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    padding-right: 7%;
    padding-left: 7%;
}

.wfnumber>input{
    border: none;
    border: 2px solid #808080;
    outline: none;
}
.wfnumber>button{
    color: azure;
    background-color: #01256d;
}